# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

/BackGroundService/obj
/BackGroundService/bin
/ErrorApp/obj
/ErrorApp/bin

/ParentApi/obj
/ParentApi/bin

#/ParentApi/obj/Debug/net5.0/*.cache
#/ParentApi/obj/Debug/net5.0/*.dll
#/ErrorApp/obj/Debug/net5.0/*.pdb
#/ErrorApp/bin/Debug/net5.0/*.dll
/RabbitMqSubscriberWorker/obj
/RabbitMqSubscriberWorker/bin



# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
